.about-screen {
}

.about-screen {
  margin: 0;
  padding: 32px 16px;
  width: 100%;

  text-align: center;
  color: var(--foreground);

  background-color: var(--background);

  --background: var(--light);
  --foreground: var(--dark);
}

.about-screen > .section {
  display: block;
  max-width: 800px;
  text-align: left;
  font-size: 18px;
  font-weight: var(--fw-normal);
  margin: 32px auto;
}

.about-screen > .section > p {
  margin: 0 0 0.5em 8px;
  padding: 0;
}
