.curriculum-vitae {
  overflow: hidden;
  background-color: white;
}

.curriculum-vitae > .header {
  padding: 16px;
  margin: 16px 0 32px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--gray)
}

.curriculum-vitae > .header > .img {
  position: relative;
  top: 48px;
  float: left;
  padding-left: 16px;
  width: 100px;
  height: 100%;
}

.curriculum-vitae > .header > .txt {
  display: block;
  padding-left: 132px;
}

@media screen and (max-width: 600px) {
  .curriculum-vitae > .header > .img {
    display: block;
    position: static;
    width: 100px;
    height: 100%;
    margin: 0 calc(50% - 50px) 16px calc(50% - 50px);
    padding: 0;
  }
  .curriculum-vitae > .header > .txt {
    margin: 0;
    padding: 0;
    display: block;
  }
}

.curriculum-vitae > .header > .img > img {
  width: 100%;
  height: auto;
}

.curriculum-vitae > .header > p {
  padding: 0;
  margin: 8px 0;
}

.curriculum-vitae > .career {
  padding: 0 32px 16px 32px;
  margin: 16px 0 32px 0;
  border-bottom: 1px solid var(--gray)
}

.curriculum-vitae > .career > h3 {
  padding-top: 0.5em;
}

.curriculum-vitae > .education {
  padding: 0 32px 16px 32px;
  margin: 16px 0 32px 0;
  border-bottom: 1px solid var(--gray)
}

.curriculum-vitae > .education > p {
  margin: 0;
  padding: 0 0 0 2px;
}
