.project {
  margin: 16px 0;
}

.project > p {
  padding: 0;
  margin: 0;
}

.project > .title {
  font-size: 16px;
  font-weight: var(--fw-thick);
}
.project > .description {
  padding-left: 8px;
  font-size: 16px;
  font-weight: var(--fw-normal);
}

.project > .description > .link,
.project > .description > .link:visited,
.project > .description > .link:hover,
.project > .description > .link:active  {
  font-weight: var(--fw-thick);
}

.project > .tech {
  padding-left: 8px;
  font-size: 14px;
  font-weight: var(--fw-normal);
}
